body {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    color: #777777;
    min-height: 100%;
    position: relative;
    padding-bottom: [footer-height]
  }
header {
    float: left;
    background: #4aaaa5;
    padding: 20px;
    color: #ffffff;
    margin-left: 200px;
    box-sizing: border-box;
    width: -30px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    padding-top: 55px;
    float: right;
    margin-right: 200px;
    overflow: auto;
}
a {
    color: #4aaaa5;
}
.about{
    box-sizing: border-box;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
}
.title {
    border-bottom: 2px solid #4aaaa5;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    color: #4aaaa5;
}
.full {
    width: 100%;
    height: 960px;
    overflow: auto;
    border-top: 2px solid #4aaaa5;
    color: black;
    background-image: url("../Images/floor-tile.png")
    }
.headshot {
        padding: 10px;
        width: 200px;
        height: 200px;
        float: left;
    }

.copyright {
        float: inline-start;
        padding: 10px;
        width: 125px;
        height: 50px;
}


table{
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        padding-left: 20px;
    }
td, th{
        text-align: center;
        padding: 8px;
    }
.placeholder {
    width: 200px;
    height: 200px;
}

footer {
    padding-top: 30px;
    clear: both;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    color: white;
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: [footer-height];
}

/*Contact Form CSS */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: blue;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }


    